@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

:root {
  --mw: 1200px;
  --lg: #f1f1f1;
  --g: #e5e5e5;
  --db: #080b6e;
}

body {
  background-color: var(--g);
}

p {
  font-family: "Hind Madurai", sans-serif;
}

.container {
  max-width: var(--mw);
  margin: 0 auto;
}

.btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--g);
}
