@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;400;500;600;700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Be Vietnam Pro", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* background-color: hsla(120, 61%, 50%, 0.276); */
}

:root {
  --mw: 1200px;
  --lg: hsl(0, 0%, 95%);
  --g: hsl(0, 0%, 80%);
  --db: hsl(238, 86%, 23%);
}

html,
body {
  background-color: var(--lg);
}

h1 {
  font-weight: 600;
}

.App {
  background-color: var(--lg);
  min-height: 100vh;
}

.container {
  max-width: var(--mw);
  margin: 0 auto;
}

.btn {
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--g);
}
