.admin-panel-booking,
.admin-panel-room {
  border: 1px solid var(--g);
  background-color: white;
}

.admin-panel-booking > * {
  display: grid;
  grid-template-columns: 30% 70%;
}

.admin-panel-room > * {
  display: grid;
  grid-template-columns: 30% 70%;
}

.admin-panel-booking > * *,
.admin-panel-room > * * {
  border: 1px solid var(--g);
  word-wrap: break-word;
  padding: 0.5em;
  margin: 0;
}

.addroom-btn {
  background-color: var(--db);
}

