.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ant-btn:nth-child(1) {
  text-align: left;
  width: 100%;
}

.anticon-user {
  display: none;
}

.rooms-container {
  max-width: var(--mw);
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  background-color: var(--lg);
}
