.navbar {

  padding: 2em;
  background-color: #020329;
}

.nav-container {
  margin: 0 auto;
  display: flex;
}

.logo {
  color: var(--g);
}

.nav-buttons {
  margin-left: auto;
}

.nav-btn {
  align-self: flex-end;
  padding: 1em 3em;
  margin-left: 1rem;
}
