.room {
  display: flex;
  gap: 2rem;
  background-color: white;
  padding: 2rem;
}

.room-image {
  max-width: 25rem;
  aspect-ratio: 16/9;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-name {
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
}

.book-btn {
  align-self: flex-end;
  padding: 0.8em 2em;
  border: none;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: var(--g);
  background-color: var(--db);
  text-decoration: none;
}

.signin-reminder {
  text-align: right;
}

@media screen and (max-width: 1094px) {
  .room-image {
    width: calc(50vw - 4rem);
    max-height: 10rem;
  }
}

@media screen and (max-width: 804px) {
  .room {
    gap: 1rem;
  }

  .details {
    overflow-x: clip;
  }
  .room-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }

  .room {
    padding: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .room-image {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .room {
    flex-direction: column;
  }
}
